@model OrderProceedRequest

@{
    ViewBag.Title = "Order proceed";
}

<form asp-area="Customer" asp-controller="ShoppingCart" asp-action="Checkout" method="post" >
    <div class="container mt-5">
        <h3 class="mb-3">Order proceed</h3>
        <div class="container border box-shadow">
            <div class="row mb-3">
                <div class="col-6">
                    <input asp-for="UserId" hidden value="@ViewBag.ShoppingCart.UserId" />
                    <div class="row mb-3">
                        <div class="col-4">
                            <label asp-for="PhoneNumber" class="form-control">Phone number:</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label asp-for="City" class="form-control">City:</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label asp-for="Address" class="form-control">Address:</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-4">
                            <label asp-for="PostalCode" class="form-control">Postal code:</label>
                        </div>
                        <div class="col-8">
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    @foreach (var item in ViewBag.ShoppingCart.Items)
                    {
                        <div class="row mb-3">
                            <div class="col-4">
                                <img src="@item.ImageUrl" class="img-thumbnail box-shadow" />
                            </div>
                            <div class="col-4">
                                <p>@item.ProductName</p>
                            </div>
                            <div class="col-4">
                                <p>@item.Count</p>
                            </div>
                        </div>
                        <br />
                    }
                    <div class="row mb-3">
                        <div class="col-4">
                            <p>Total price:</p>
                        </div>
                        <div class="col-8">
                            <p>@ViewBag.ShoppingCart.TotalPrice</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <a asp-area="Customer" 
                       asp-controller="ShoppingCart" 
                       asp-action="Index" 
                       asp-route-userId="@ViewBag.ShoppingCart.UserId" 
                       class="btn btn-danger w-100">Back</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary w-100">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial.cshtml" />
    }
}